@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors  https://github.com/justingolden21/pokemon-types-css/blob/master/types.css */

.normal {
  background-color: #a8a878;
  border-color: #6d6d4e;
  color: #000;
}
.fire {
  background-color: #f08030;
  border-color: #9c531f;
  color: #000;
}
.water {
  background-color: #6890f0;
  border-color: #445e9c;
  color: #fff;
}
.electric {
  background-color: #f8d030;
  border-color: #a1871f;
  color: #000;
}
.grass {
  background-color: #78c850;
  border-color: #4e8234;
  color: #000;
}
.ice {
  background-color: #98d8d8;
  border-color: #638d8d;
  color: #000;
}
.fighting {
  background-color: #c03028;
  border-color: #7d1f1a;
}
.poison {
  background-color: #a040a0;
  border-color: #682a68;
  color: #fff;
}
.ground {
  background-color: #e0c068;
  border-color: #927d44;
}
.flying {
  background-color: #a890f0;
  border-color: #6d5e9c;
}
.psychic {
  background-color: #f85888;
  border-color: #a13959;
  color: #fff;
}
.bug {
  background-color: #a8b820;
  border-color: #6d7815;
  color: #fff;
}
.rock {
  background-color: #b8a038;
  border-color: #786824;
  color: #fff;
}
.ghost {
  background-color: #705898;
  border-color: #493963;
}
.dragon {
  background-color: #7038f8;
  border-color: #4924a1;
  color: #fff;
}
.dark {
  background-color: #705848;
  border-color: #49392f;
  color: #fff;
}
.steel {
  background-color: #b8b8d0;
  border-color: #787887;
  color: #fff;
}
.fairy {
  background-color: #ee99ac;
  border-color: #9b6470;
  color: #fff;
}
